<h2><% if(edit) print('Edit Place'); else print('Add a new place'); %></h2>
<form action="#">
    <!-- Note Area -->
    <textarea name="note"><% if(edit) { print(note); } %></textarea>

    <!-- Tags Area -->
    <input name="tags" value="<% if(edit) print(tags); %>" />

    <button data-action="save" type="button" class="btn btn-primary">
        <i class="icon-ok"></i>
        <span class="hidden-phone button-text"> Save</span>
    </button>
    <button data-action="cancel" type="button" class="btn btn-danger">
        <i class="icon-remove"></i>
        <span class="hidden-phone button-text"> Cancel</span>
    </button>
</form>