<ul class="controls vertical-controls pull-right">
    <li>
        <a href="#" class="control edit">
            <i class="icon-edit"></i>
            <span class="hidden-phone"> edit</span>
        </a>
    </li>
    <li>
        <a href="#" data-toggle="modal" class="control delete">
            <i class="icon-remove"></i>
            <span class="hidden-phone"> remove</span>
        </a>
    </li>
</ul>
<div>
    <span class="note"><%= note %></span> <span class="distance">(<%= distance %> km)</span>
</div>
<div class="tags">
    <% tags.each(function(tag) { print('<span class="tag">'+tag+'</span>'); }) %>
</div>